* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    
    color: #ffff;
    text-align: center;
    align-items: center;
}

body {

    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: auto;
    background-image: linear-gradient(rgba(5, 7 , 12, 0.75),rgba(5,7,12,0.75)), url(fondo2.png);
}

footer p {
    padding: 0;
    color: #167554
}

footer span {
    color: rgb(187, 25, 25);
}

* button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1ms;
    font-size: 15px;
    width: 100px;
}

* button:hover{
    background-color: #167554;
}


h1 {
    color: #04bd7d ;
    text-align: center;
    padding: 7px;
}

h3 {
    color: #04bd7d;
    margin-bottom: 7px;
    margin-top: 7px;
}

h2 {
    color: #04bd7d;
    
}
p {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
}

li {
    font-size: 12px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form1 {
    width: 100%;
    max-width: 450px;
    background-color: #2c2f35;
    opacity: 0.9;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}

input{
    background-color: aliceblue;
    border-radius: 5px;
    outline: none;
    text-align: center;
    color: black;
}
label{
    color: #04bd7d;
    background-color: #2c2f35;
}

button{
    background-color: #04bd7d;
    border-radius: 5px;
    color: #ffff;
    padding: 5px;
    
}

.counter {
    color: #ffff;
    padding: 5px;
    background-color: #2c2f35;
}

.Form2 {
    display: flex;           
    align-items: center;    
    justify-content: center;  
    text-align: center;  
    font-size: 14px;
    background-color: #2c2f35;
    opacity: 0.9;
}

.Form2 label {
    padding: 5px;
    background-color: transparent;
    max-width: 100px;

}

.Form2 input {
    max-width: 100px;
    padding: 5px;
    margin-left:20px ;
}

.Form2 button {
    width: 25px;
}

.divTotal {
    padding: 15px;
    display: flex;           
    align-items: center;    
    justify-content: center;  
    text-align: center;
    background-color: #2c2f35;
    
}

.divTotal label {
    background-color: transparent;
}

.divTotal input {
    max-width: 100px;
    padding: 5px;
    margin-left: 20px;
}

.SumButton {
    display: flex;           
    align-items: center;    
    justify-content: center;  
    text-align: center;
    background-color: #2c2f35;
}


.container2 {
    background-color: #2c2f35;
    opacity: 0.9;
    padding: 30px 60px;
    text-align: center;
    border-radius: 25px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divFinal {
    background-color: #2c2f35;
    opacity: 0.9;
    padding: 30px 60px;
    border-radius: 25px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}


.divFinal li {
    font-size: 12px;
}

.verde {
    background-color: transparent;
    color: #04bd7d;
   
}


    
.uVenta {
    background-color: #2c2f35;
    opacity: 0.9;
    padding: 30px 60px;
    border-radius: 25px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}